<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<html ng-app="relatorioM">
<head>
  <meta charset="UTF-8" />
  <title>Gerar relatorio</title>
  <script type ="text/javascript" src="_/app/tabela.js"></script>
  <script type ="text/javascript" src="_/app/tabela.js"></script>
</head>

<body ng-controller=""> 
  <header>
    <h1>Relatorio</h1>
    <h3>Em angularJS.</h3>
  </header>
  
<hr/>
<div Class="container">
  <table class="steelBlueCols">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th>Cidade Natal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of relatorio">
        <td>{{data.Nome}}</td>
        <td>{{data.Sobrenome}}</td>
        <td>{{data.idade}}</td>
        <td>{{data.cidadenatal}}</td>
      </tr>
    </tbody>
  </table>

</div>
</body>
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>Descrição</h6>
        <p class="text-justify">Um landig page criado com o anularjs </p>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Links</h6>
        <ul class="footer-links">
          <li><a href="https://github.com/Renan-Ald">About Us</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">Copyright &copy; 2021 Direitos reservados por
     <a href="#">Renan</a>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
        </ul>
      </div>
    </div>
  </div>
</footer>
</html>